@page
@model Bookstore.Pages.PurchasedCompletedModel
@{
}

<div class="text-center">
    <h2>Thanks for your order! Your books are on the way.</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>
